[mysql]
default-character-set  = utf8mb4

[mysqld]
pid-file               = /var/run/mysqld/mysqld.pid
socket                 = /var/run/mysqld/mysqld.sock
datadir                = /var/lib/mysql
secure-file-priv       = NULL
port                   = 3306
max_connections        = 20
character-set-server   = utf8mb4
default-storage-engine = INNODB

[client]
port=3306
default-character-set  = utf8mb4