<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--script-->
<div th:fragment="fragment-script">
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- overlayScrollbars -->
    <script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/dist/js/adminlte.min.js}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>

    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript"> const _ctx = [[@{/}]]; </script>

</div>